@define-color theme_base_color #fff;
@define-color theme_fg_color #000;
@define-color theme_active_color #b8b891;
@define-color theme_selected_bg_color #555;

@define-color theme_highlight_color shade(#4a90d9, 0.85);

@define-color theme_internal_border shade(#ddd, 0.90);
@define-color theme_internal_bg #ddd;

@define-color theme_insensitive_color shade(#ddd, 0.90);
@define-color theme_insensitive_bg @theme_base_color;

@define-color theme_slider_bg shade(@theme_selected_bg_color, 1.10);
@define-color theme_slider_border darker(@theme_slider_bg);

@define-color theme_button_bg #f3f3f3;

@define-color theme_cursor_color #cc0000;

* {
    /* Pidgin */
    -GtkIMHtml-hyperlink-color: #000060;
    -GtkIMHtml-hyperlink-visited-color: #600000;
    -GtkIMHtml-hyperlink-prelight-color: #404080;

    /* Evolution */
    -GtkHTML-link-color: #000060;
    -GtkHTML-vlink-color: #600000;
    -GtkHTML-cite-color: #003000;

    -GtkWidget-link-color: #80ccff;
    -GtkWidget-visited-link-color: #ff80ff;
}

@import url("resource:///org/gnome/HighContrast/a11y.css");
