@define-color theme_base_color #002;
@define-color theme_fg_color #fff;
@define-color theme_active_color #668;
@define-color theme_selected_bg_color #eee;

@define-color theme_highlight_color shade(#4a90d9, 1.05);

@define-color theme_internal_bg #555;
@define-color theme_internal_border shade(@theme_internal_bg, 1.40);

@define-color theme_notebook_bg shade(@theme_active_color, 0.60);

@define-color theme_insensitive_color #555;
@define-color theme_insensitive_bg #002;

@define-color theme_slider_bg shade(@theme_selected_bg_color, 0.95);
@define-color theme_slider_border shade(@theme_slider_bg, 0.30);

@define-color theme_button_bg shade(@theme_active_color, 0.50);

@define-color theme_cursor_color @theme_highlight_color;

* {
    /* Pidgin */
    -GtkIMHtml-hyperlink-color: #80ccff;
    -GtkIMHtml-hyperlink-visited-color: #ff80ff;
    -GtkIMHtml-hyperlink-prelight-color: #ffccff;

    /* Evolution */
    -GtkHTML-link-color: #80ccff;
    -GtkHTML-vlink-color: #ff80ff;
    -GtkHTML-cite-color: #ccff80;

    -GtkWidget-link-color: @theme_highlight_color;
    -GtkWidget-visited-link-color: #600000;
}

@import url("resource:///org/gnome/HighContrastInverse/a11y.css");
