/*************************
 * Check and Radio items *
 *************************/

/* draw regular check and radio items using our SVG assets */
.check {
    background-image: url("assets/checkbox-unchecked.svg");
}

.check row:selected,
.check row:selected:focus {
    background-image: url("assets/checkbox-unchecked-no-hilight.svg");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
    background-image: url("assets/checkbox-unchecked-insensitive.svg");
}

.check:window-unfocused,
.check row:selected:window-unfocused {
    background-image: url("assets/checkbox-unchecked-unfocused.svg");
}

.check:insensitive:window-unfocused,
.check row:selected:insensitive:window-unfocused {
    background-image: url("assets/checkbox-unchecked-insensitive-unfocused.svg");
}


.check:active {
    background-image: url("assets/checkbox-checked.svg");
}

.check row:selected:active,
.check row:selected:focus:active {
    background-image: url("assets/checkbox-checked-no-hilight.svg");
}

.check:active:window-unfocused,
.check row:selected:active:window-unfocused {
    background-image: url("assets/checkbox-checked-unfocused.svg");
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive {
    background-image: url("assets/checkbox-checked-insensitive.svg");
}

.check:active:insensitive:window-unfocused,
.check row:selected:active:insensitive:window-unfocused {
    background-image: url("assets/checkbox-checked-insensitive-unfocused.svg");
}


.check:inconsistent {
    background-image: url("assets/checkbox-mixed.svg");
}

.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
    background-image: url("assets/checkbox-mixed-no-hilight.svg");
}

.check:inconsistent:window-unfocused,
.check row:selected:inconsistent:window-unfocused {
    background-image: url("assets/checkbox-mixed-unfocused.svg");
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
    background-image: url("assets/checkbox-mixed-insensitive.svg");
}

.check:inconsistent:insensitive:window-unfocused,
.check row:selected:inconsistent:insensitive:window-unfocused {
    background-image: url("assets/checkbox-mixed-insensitive-unfocused.svg");
}

.radio {
    background-image: url("assets/radio-unselected.svg");
}

.radio row:selected,
.radio row:selected:focus {
    background-image: url("assets/radio-unselected-no-hilight.svg");
}

.radio:window-unfocused,
.radio row:selected:window-unfocused {
    background-image: url("assets/radio-unselected-unfocused.svg");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
    background-image: url("assets/radio-unselected-insensitive.svg");
}

.radio:insensitive:window-unfocused,
.radio row:selected:insensitive:window-unfocused {
    background-image: url("assets/radio-unselected-insensitive-unfocused.svg");
}


.radio:active {
    background-image: url("assets/radio-selected.svg");
}

.radio row:selected:active,
.radio row:selected:focus:active {
    background-image: url("assets/radio-selected-no-hilight.svg");
}

.radio:active:window-unfocused,
.radio row:selected:active:window-unfocused {
    background-image: url("assets/radio-selected-unfocused.svg");
}


.radio:active:insensitive,
.radio row:selected:active:insensitive,
.radio row:selected:focus:active:insensitive {
    background-image: url("assets/radio-selected-insensitive.svg");
}

.radio:active:insensitive:window-unfocused,
.radio row:selected:active:insensitive:window-unfocused {
    background-image: url("assets/radio-selected-insensitive-unfocused.svg");
}


.radio:inconsistent {
    background-image: url("assets/radio-mixed.svg");
}

.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
    background-image: url("assets/radio-mixed-no-hilight.svg");
}

.radio:inconsistent:window-unfocused,
.radio row:selected:inconsistent:window-unfocused {
    background-image: url("assets/radio-mixed-unfocused.svg");
}


.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
    background-image: url("assets/radio-mixed-insensitive.svg");
}

.radio:inconsistent:insensitive:window-unfocused,
.radio row:selected:inconsistent:insensitive:window-unfocused {
    background-image: url("assets/radio-mixed-insensitive-unfocused.svg");
}

.sidebar .radio:active,
.sidebar .radio:active:focus,
.sidebar .radio:active:hover {
    background-image: url("assets/sidebar-radio-checked.svg");
}

.sidebar .radio:hover {
    background-image: url("assets/sidebar-radio-prelight.svg");
}

.sidebar .radio:active:selected,
.sidebar .radio:active:selected:focus {
    background-image: url("assets/sidebar-radio-selected.svg");
}

.sidebar .radio:selected:hover,
.sidebar .radio:selected:focus {
    background-image: url("assets/sidebar-radio-selected-prelight.svg");    
}

/*********************
 * GtkScale's slider *
 *********************/
GtkScale.slider,
GtkScale.slider.horizontal {
    background-image: url("assets/scale-slider-horizontal.svg");
}

GtkScale.slider:window-unfocused,
GtkScale.slider.horizontal:window-unfocused {
    background-image: url("assets/scale-slider-horizontal-unfocused.svg");
}

GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive {
    background-image: url("assets/scale-slider-horizontal-insensitive.svg");
}

GtkScale.slider:insensitive:window-unfocused,
GtkScale.slider.horizontal:insensitive:window-unfocused {
    background-image: url("assets/scale-slider-horizontal-insensitive-unfocused.svg");
}


GtkScale.slider.vertical {
    background-image: url("assets/scale-slider-vertical.svg");
}

GtkScale.slider.vertical:window-unfocused {
    background-image: url("assets/scale-slider-vertical-unfocused.svg");
}

GtkScale.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-vertical-insensitive.svg");
}

GtkScale.slider.vertical:insensitive:window-unfocused {
    background-image: url("assets/scale-slider-vertical-insensitive-unfocused.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal {
    background-image: url("assets/scale-slider-marks-above-horizontal.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal:window-unfocused {
    background-image: url("assets/scale-slider-marks-above-horizontal-unfocused.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive {
    background-image: url("assets/scale-slider-marks-above-horizontal-insensitive.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive:window-unfocused {
    background-image: url("assets/scale-slider-marks-above-horizontal-insensitive-unfocused.svg");
}

GtkScale.scale-has-marks-above.slider.vertical {
    background-image: url("assets/scale-slider-marks-above-vertical.svg");
}

GtkScale.scale-has-marks-above.slider.vertical:window-unfocused {
    background-image: url("assets/scale-slider-marks-above-vertical-unfocused.svg");
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-marks-above-vertical-insensitive.svg");
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive:window-unfocused {
    background-image: url("assets/scale-slider-marks-above-vertical-insensitive-unfocused.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal {
    background-image: url("assets/scale-slider-marks-below-horizontal.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal:window-unfocused {
    background-image: url("assets/scale-slider-marks-below-horizontal-unfocused.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal:insensitive:window-unfocused {
    background-image: url("assets/scale-slider-marks-below-horizontal-insensitive-unfocused.svg");
}

GtkScale.scale-has-marks-below.slider.vertical {
    background-image: url("assets/scale-slider-marks-below-vertical.svg");
}

GtkScale.scale-has-marks-below.slider.vertical:window-unfocused {
    background-image: url("assets/scale-slider-marks-below-vertical-unfocused.svg");
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-marks-below-vertical-insensitive.svg");
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive:window-unfocused {
    background-image: url("assets/scale-slider-marks-below-vertical-insensitive-unfocused.svg");
}

