/* Borders */

/* generic element borders */
.entry,
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:focus,
.button:active,
.button:active:hover,
.button:insensitive,
.trough,
.trough.highlight,
.trough row,
.trough row:hover,
GtkSwitch.trough,
GtkSwitch.trough:insensitive {
    border-image: url("borders/generic-border-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3;
    border-width: 1 1 2 1;
}

/* focused element borders */
.entry:focus,
GtkComboBox.combobox-entry .entry:focus,
.button:focus:active,
.button.default:active,
GtkSwitch.trough:active { 
    border-image: url("borders/generic-border-focused-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3;
    border-width: 1 1 2 1;
}

/* generic button borders */
.button {
    border-image: url("borders/button-border-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3;
    border-width: 1 1 2 1;
}

/* focused button borders */
.button:focus,
.button.default { 
    border-image: url("borders/button-border-focused-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3;
    border-width: 1 1 2 1;
}

/* primary toolbar - generic element borders */
.primary-toolbar .entry,
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:hover,
.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:focus,
.primary-toolbar GtkComboBox.combobox-entry .button:insensitive,
.primary-toolbar .button:active,
.primary-toolbar .button:active:insensitive,
.primary-toolbar .button:active:hover,
.primary-toolbar .button.raised:insensitive,
.primary-toolbar .raised .button:insensitive,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:active:hover,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton .button:active,
.primary-toolbar GtkSwitch.trough,
.primary-toolbar GtkSwitch.trough:insensitive,
.primary-toolbar GtkComboBox .button:active,
.primary-toolbar GtkComboBox .button:insensitive {
    border-image: url("borders/primary-toolbar-generic-border-dark.svg") 4 / 4 stretch;
    border-radius: 3;
    border-width: 2;
}

/* primary toolbar - focused element borders */
.primary-toolbar .entry:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar .button.raised:focus:active,
.primary-toolbar .raised .button:focus:active,
.primary-toolbar .button.raised:focus:active:hover,
.primary-toolbar .raised .button:focus:active:hover,
.primary-toolbar .button.raised.default:active,
.primary-toolbar .raised .button.default:active,
.inline-toolbar.toolbar .button:focus:active,
.inline-toolbar.toolbar .button.default:active,
.primary-toolbar GtkComboBox .button:active:focus { 
    border-image: url("borders/primary-toolbar-generic-border-focused-dark.svg") 4 / 4 stretch;
    border-radius: 3;
    border-width: 2;
}

/* primary toolbar - generic button borders */
.primary-toolbar .button.raised,
.primary-toolbar .raised .button,
.primary-toolbar .button.raised:hover,
.primary-toolbar .raised .button:hover,
.inline-toolbar.toolbar .button,
.primary-toolbar GtkComboBox .button,
.primary-toolbar GtkComboBox .button:hover {
    border-image: url("borders/primary-toolbar-button-border-dark.svg") 4 / 4 stretch;
    border-radius: 3;
    border-width: 2;
}

/* primary toolbar - focused button borders */
.primary-toolbar .button.raised:focus,
.primary-toolbar .button.raised.default,
.primary-toolbar .raised .button:focus,
.primary-toolbar .raised .button.default,
.primary-toolbar .button.raised:focus:hover,
.primary-toolbar .raised .button:focus:hover,
.inline-toolbar.toolbar .button:focus,
.inline-toolbar.toolbar .button.default,
.primary-toolbar GtkComboBox .button:focus { 
    border-image: url("borders/primary-toolbar-button-border-focused-dark.svg") 4 / 4 stretch;
    border-radius: 3;
    border-width: 2;
}

/* column-headers borders */
column-header.button,
column-header .button,
column-header.button:hover,
column-header .button:hover,
column-header.button:focus,
column-header .button:focus,
column-header .button:insensitive,
column-header.button:focus:hover,
column-header .button:focus:hover,
column-header.button:active:focus:hover,
column-header .button:active:focus:hover,
column-header.button:active:focus,
column-header .button:active:focus,
column-header.button:active:hover,
column-header .button:active:hover {
    border-image: -gtk-gradient (linear,
                                 left top, left bottom,
                                 from (@borders),
                                 to (@theme_base_color)) 0 1 0 0;
    border-width: 0 1 0 0;
    border-radius: 0;
}

column-header.button:window-unfocused,
column-header .button:window-unfocused {
    border-image: -gtk-gradient (linear,
                                 left top, left bottom,
                                 from (@unfocused_borders),
                                 to (@theme_unfocused_base_color)) 0 1 0 0;
    border-width: 0 1 0 0;
    border-radius: 0;

}

column-header.button:last-child,
column-header:last-child .button,
column-header.button:hover:last-child,
column-header:last-child .button:hover,
column-header.button:focus:last-child,
column-header:last-child .button:focus,
column-header .button:insensitive:last-child,
column-header:last-child .button:insensitive,
column-header.button:focus:hover:last-child,
column-header:last-child .button:focus:hover,
column-header.button:active:focus:hover:last-child,
column-header:last-child .button:active:focus:hover,
column-header.button:active:focus:last-child,
column-header:last-child .button:active:focus,
column-header.button:active:hover:last-child,
column-header:last-child .button:active:hover,
column-header.button:window-unfocused:last-child,
column-header:last-child .button:window-unfocused {
    border-image: none;
    border-width: 0;
}
/* unfocused window: generic element borders */
.button:window-unfocused,
GtkComboBox.combobox-entry .entry:window-unfocused,
GtkComboBox.combobox-entry .button:window-unfocused,
GtkComboBox *:window-unfocused, 
.entry:window-unfocused,
GtkSwitch.trough:window-unfocused,
.trough:window-unfocused {
    border-image: url("borders/generic-border-unfocused-dark.svg") 3 3 4 3 / 3 3 4 3 stretch;
    border-radius: 3;
    border-width: 1 1 2 1;
}

/* unfocused window: primary toolbar generic element borders */
.primary-toolbar .button.raised:window-unfocused,
.primary-toolbar .raised .button:window-unfocused,
.primary-toolbar .entry:window-unfocused,
.inline-toolbar.toolbar .button:window-unfocused { 
    border-image: url("borders/primary-toolbar-generic-border-unfocused-dark.svg") 4 / 4 stretch;
    border-radius: 3;
    border-width: 2;
    border-style: solid;
    border-color: transparent;

}
