.entry:focus {
    box-shadow: 2 2 inset alpha(lighter(@theme_selected_bg_color), 0.2), -2 -2 inset alpha(lighter(@theme_selected_bg_color), 0.2), 1 1 inset alpha(lighter(@theme_selected_bg_color), 0.7), -1 -1 inset alpha(lighter(@theme_selected_bg_color), 0.7);
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus {
    background-color: alpha(@theme_base_color, 0.0);

    border-style: solid;
    border-radius: 10;
    border-width: 3;
    border-color: #d3d7cf;

    /* FIXME: this probably needs to be better;
     * see https://bugzilla.gnome.org/show_bug.cgi?id=644157
     */
    -adwaita-focus-border-color: alpha(@theme_text_color, 0.4);
    -adwaita-focus-border-radius: 5;
    -adwaita-focus-border-dashes: true;
}

GtkSwitch.slider {
    border-color: mix (@button_border, black, 0.4);
    box-shadow: 0 -1 inset alpha(white, 0.07), 0 1 inset @theme_base_color, 0 2 inset alpha(@button_border, 0.15);
}

.button,
GtkComboBox {
    text-shadow: @button_text_shadow 0 -1;
}

.button *:active,
GtkComboBox *:active {
    text-shadow: @button_active_text_shadow 0 -1;
}

.button
.button.raised,
.raised .button,
.inline-toolbar .button,
.button.raised *,
.raised .button *,
.inline-toolbar .button * {
    icon-shadow: @button_text_shadow 0 -1;
}

.button.raised *:active,
.raised .button *:active,
.inline-toolbar .button *:active {
    icon-shadow: @button_active_text_shadow 0 -1;
}

.button.raised *:insensitive,
.raised .button *:insensitive,
.inline-toolbar .button *:insensitive {
    icon-shadow: none;
}

column-header.button,
column-header .button {
    text-shadow: none;
}

.button .separator,
.button .separator:prelight {
    color: alpha (@theme_text_color, 0.1);
}

.spinbutton .button:insensitive {
    /* color: shade(@internal_element_color, 1.65); */
    color: shade(@internal_element_color, 1.27);
}

.scrollbar.button {
    color: shade(@internal_element_color, 0.4);
}
