.entry:focus {
    box-shadow: 2 2 inset alpha(lighter(@theme_selected_bg_color), 0.2), -2 -2 inset alpha(lighter(@theme_selected_bg_color), 0.2), 1 1 inset alpha(lighter(@theme_selected_bg_color), 0.7), -1 -1 inset alpha(lighter(@theme_selected_bg_color), 0.7);
}

.spinbutton .button:active {
    box-shadow: 0 2 inset alpha(lighter(@theme_selected_bg_color), 0.2), 0 -2 inset alpha(lighter(@theme_selected_bg_color), 0.2), 0 1 inset alpha(lighter(@theme_selected_bg_color), 0.7), 0 -1 inset alpha(lighter(@theme_selected_bg_color), 0.7);
}

.spinbutton .button:first-child:active {
    box-shadow: 2 2 inset alpha(lighter(@theme_selected_bg_color), 0.2), 0 -2 inset alpha(lighter(@theme_selected_bg_color), 0.2), 1 1 inset alpha(lighter(@theme_selected_bg_color), 0.7), 0 -1 inset alpha(lighter(@theme_selected_bg_color), 0.7);
}

.spinbutton .button:last-child:active {
    box-shadow: 0 2 inset alpha(lighter(@theme_selected_bg_color), 0.2), -2 -2 inset alpha(lighter(@theme_selected_bg_color), 0.2), 0 1 inset alpha(lighter(@theme_selected_bg_color), 0.7), -1 -1 inset alpha(lighter(@theme_selected_bg_color), 0.7);
}

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focus {
    background-color: alpha(@theme_base_color, 0.0);

    border-style: solid;
    border-radius: 10;
    border-width: 3;
    border-color: #d3d7cf;

    /* FIXME: this probably needs to be better;
     * see https://bugzilla.gnome.org/show_bug.cgi?id=644157
     */
    -adwaita-focus-border-color: alpha(@theme_text_color, 0.4);
    -adwaita-focus-border-radius: 5;
    -adwaita-focus-border-dashes: true;
}

.button,
GtkComboBox {
    text-shadow: @button_text_shadow 0 -1;
}

.button *:active,
.button *:active:hover,
.button *:active:focus,
.button *:active:hover:focus,
GtkComboBox *:active,
GtkComboBox *:active:hover,
GtkComboBox *:active:focus,
GtkComboBox *:active:hover:focus {
    text-shadow: @button_active_text_shadow 0 -1;
    color: @theme_selected_bg_color; /* Not sure about this one */
}

.button
.button.raised,
.raised .button,
.inline-toolbar .button,
.button.raised *,
.raised .button *,
.inline-toolbar .button * {
    icon-shadow: @button_text_shadow 0 -1;
}

.button.raised *:active,
.raised .button *:active,
.inline-toolbar .button *:active {
    icon-shadow: @button_active_text_shadow 0 -1;
}

.button.raised *:insensitive,
.raised .button *:insensitive,
.inline-toolbar .button *:insensitive {
    icon-shadow: none;
}

column-header.button,
column-header .button {
    text-shadow: none;
}

.button .separator,
.button .separator:prelight {
    color: alpha (@theme_text_color, 0.1);
}

.scrollbar.slider:prelight,
.scrollbar.button:prelight,
.scrollbar.button:prelight:active {
    border-color: shade (@highlighted_border, 0.75);
}

GtkSwitch.slider {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@theme_bg_color),
                                     to (@switch_slider_color));

    -adwaita-switch-grip-color: shade (@switch_slider_color, 0.9);
    border-color: mix (@button_border, black, 0.4);
    box-shadow: 0 -1 inset alpha(white, 0.04), 0 1 inset shade(@theme_bg_color, 1.1), 0 2 inset alpha(@button_border, 0.2);
}

